header {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 128px;
    .menuContainer {
      display: flex;
      justify-content: space-between;
      .menuButton {
        margin: 0px 16px;
        &::after {
          content: '';
          height: 1px;
          width: 0%;
          border-bottom: 1.3px solid #333;
          display: block;
          transition: width 0.3s ease-out;
          padding-top: 1px;
        }
        &:hover {
          cursor: pointer;
          &::after {
            width: 100%;
          }
        }
      }
    }
    svg {
      height: 28px;
      fill: #333;
    }
  }