
.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  * {
    box-sizing: border-box;
  }
}

$navBarWidth: 64px;
.mainContent {
  min-width: calc(100% - #{$navBarWidth});
  margin-left: $navBarWidth;
}

footer {
  height: 72px;
  background-color: rgb(194, 182, 182);

}

@media only screen and (max-width: 800px) {
  .mainContent {
    min-width: 100% !important;
    margin-left: 0 !important;
  }
}
